@{
    ViewBag.Title = "Category List";
}

@model IEnumerable<OrderASP.Models.Category>

<h2>@ViewBag.Title</h2>

@if(TempData["Message"] != null) 
{
    <br />
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}


@if(TempData["Error"] != null) 
{
    <br />
    <div class="alert alert-error">
        @TempData["Error"]
    </div>
}

@if (Model.Count() > 0) 
{
     <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 1;}
            @foreach (var category in Model) {
            <tr>
                <td>@counter</td>
                <td>@Html.DisplayFor(categorymodel => category.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = category.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = category.Id })
                </td>
            </tr>
                counter++;
            }
        </tbody>
    </table>   
} else {
    <br />
    <div class="alert alert-info">There are not categories.</div>
}
